<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    
      <link rel="stylesheet" href="C:\Users\MUSTAAN\OneDrive\Desktop\Ecovation\style.css">  

</head>
<body>
    <header>
        <nav>
            <h1>ECOVATION INTERIORS</h1>
            <ul>
                <li><a href="#home"></a>home</li>
                <li><a href="#services">services</a></li>
                <li><a href="#project">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>

    <section id="home">
        <div class="container">
            <h1>ECOVATION INTERIORS</h1>
    
            <h1>ABOUT</h1>
            <div class="about">
                <p>Ecovation was founded with the goal of offering a wide range of high-quality Acoustic Solutions. Since
                    its establishment, Ecovation has been delivering acoustical solutions and wall coverings to the markets
                    in across India.
                    We specialize in acoustical solutions, including customized wall panels, baffle ceilings, 3D acoustical
                    products, and printed panels. We are partnered with renowned global brands known for their sustainable
                    manufacturing processes, innovative designs, and exceptional product quality. Our deep product
                    knowledge, combined with years of experience, enables us to offer consultative solutions to our clients.
                    Our skilled and trained team supports projects by providing timely design solutions, such as drawings,
                    renderings, 3D views, and the execution of complex design concepts.
                </p>
    
            </div>
            <h1>MISSION</h1>
            <div class="mission">
                <p>To deliver innovative and sustainable building solutions by offering a diverse range of high-quality
                    acoustical products and materials, empowering designers to bring their creative visions to life. We are
                    committed to providing exceptional customer service, expert guidance, and timely support, ensuring that
                    every project achieves its desired design intent with the highest standards of quality and
                    craftsmanship. Through our partnerships with global brands and our expertise in acoustical solutions, we
                    aim to enhance spaces while promoting sustainability and excellence in every aspect of our work.</p>
    
            </div>
            <h1>VISIONS</h1>
            <div class="vision">
                <p>To be a leading provider of sustainable and innovative building solutions, recognized for transforming
                    spaces with superior acoustical products and materials. We strive to inspire creativity and enhance
                    design possibilities by offering cutting-edge solutions that blend functionality, aesthetics, and
                    environmental responsibility. Our vision is to foster a world where every project, big or small,
                    achieves its full potential through the perfect combination of design excellence and high-quality,
                    sustainable materials.</p>
    
            </div>
        </div>
    
        <div class="logo-slider">
    
            <div class="logos">
                <img src="https://tse4.mm.bing.net/th?id=OIP.WP7KdErw_cPtdfH7E-aIjwAAAA&pid=Api&P=0&h=180"
                    alt="Redbrick Offices">
                <img src="https://tse2.mm.bing.net/th?id=OIP.reZfzYzV4VKZs0E_6JY-dwHaHa&pid=Api&P=0&h=180" alt="Sonyliv">
                <img src="https://www.companieshistory.com/wp-content/uploads/2013/07/TE-Connectivity.png"
                    alt="te connectivity">
                <img src="https://logos-world.net/wp-content/uploads/2020/11/Liebherr-Logo-Old.jpg " alt="Liebherr">
                <img src="https://149448277.v2.pressablecdn.com/wp-content/uploads/2019/05/MARSH_horizontal_4c-1.jpg"
                    alt="Marsh">
                <img src="https://yt3.ggpht.com/a/AGF-l78-8XxaFSQzjduwEELVwvLzDysAwsLe1O6ciQ=s900-mo-c-c0xffffffff-rj-k-no"
                    alt="Mercer">
                <img src="https://download.logo.wine/logo/Ceva_(semiconductor_company)/Ceva_(semiconductor_company)-Logo.wine.png"
                    alt="Ceva">
    
            </div>
        </div>
    </section>

    <section id="project">
        <h2>project1</h2>
    <div class="project-card1">

    </div>
</section>

<section id="project1">
    <h2>project2</h2>
    <div class="project-card2">

    </div>
</section>

<section id="project2">
    <h2>project3</h2>
    <div class="project-card3">

    </div>
    </section>

    <div class="container">
        <h1>Acoustical products</h1>
        <section id="services">
          
            
        <div class="dropdown-column">
            <h4>WALL PANELS</h4>
            <a href="{% url 'WPimg' %}">Acoustic cns cut</a>
            <a href="{% url 'Acsc' %}">Acoustic Screens</a>
            <a href="{% url 'pacp' %}">Printed Acoustical Panels</a>
            
        </div>
        <div class="dropdown-column">
            <h4>CEILINGS</h4>
            <a href="{% url 'hc' %}">Hanging Clouds</a>
            <a href="{% url 'accc' %}">Acoustic cell ceilings</a>
            <a href="{% url 'baf' %}">Acoustic Baffles</a>
        </div>
        </section>

    <section id="contact">
        <h1>CONTACT US</h1>
        <form action="#" method="POST">
            <input type="text" name="fullname" placeholder="Full Name"  required>
            <input type="date" name="dob" id="">
            <input type="email" name="gmail" placeholder="Email Address"  required>
            <input type="tel" name="pho_no" placeholder="Mobile Number"  required>
            <input type="text" name="address" placeholder="address"  required>
            <textarea name="message" placeholder="Your Message"  required></textarea>
            <button type="submit">Submit</button>
        </form>
    </section>

    <footer>
        <div class="footer-container">



            <h2>Contact Information</h2>


            <div class="footer-content">

                
                <section class="contact-section">
                    <div class="contact-container">
                        <div class="contact-card">
                            <img src="c:\Users\MUSTAAN\OneDrive\Desktop\ECO_INT\static\images\call icon.jpg"
                                alt="Call Icon" class="icon">
                            <h3>CALL US</h3>
                            <p>+91 9513877866</p>

                        </div>

                        <div class="contact-card">
                            <img src="C:\Users\MUSTAAN\OneDrive\Desktop\ECO_INT\static\images\email icon.png"
                                alt="Email Icon" class="icon">
                            <h3>EMAIL US</h3>
                            <p><a href="mailto:info@ecovation.co.in">info@ecovation.co.in</a></p>
                        </div>

                        <div class="contact-card">
                            <img src="C:\Users\MUSTAAN\OneDrive\Desktop\ECO_INT\static\images\www.jpg"
                                alt="website Icon" class="icon">
                            <h3>Our Website</h3>
                            <p><a href="www.ecovation.co.in">www.ecovation.co.in</a></p>
                        </div>

                        <div class="contact-card">
                            <img src="C:\Users\MUSTAAN\OneDrive\Desktop\ECO_INT\static\images\address-logo.png" alt="Address Icon"
                                class="icon">
                            <h3>ADDRESS</h3>
                            <p> Unit No, B/19/01 - Nagasandra Tumkur Road, </p>
                            <p> Bangalore,Karnataka - 560073
                            <p>

                        </div>
                    </div>

                   
                </section>
    </footer>


</body>
</html>